/vendor/

# This is not a project.
# Therefore we MUST NOT keep the lock file, so to support (CI-)tests on different setups/systems.
# That is also the reason why we dont do exact dev-requirements pinning but use ranges.
/composer.lock

/.php-cs-fixer.php
/.php-cs-fixer.cache

/phpunit.xml
/.phpunit.cache/
/.phpunit.result.cache

/infection.json
/.infection.tmp/

/psalm.xml
/.psalm.cache/

/phpdoc.xml
/.phpdoc.cache/
/ast.dump

# these are the target of test tools and such
/reports/
/CI_reports/

# these are targets of build tools and such
/docs/.build/
/.build/
