# files are compared bype-wise, so they need to be treated as binary
snapshots/*             linguist-generated
snapshots/*.bin         binary
snapshots/*.xml.bin     diff=xml
snapshots/*.json.bin    diff=json
